@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #181b21;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.23px;
}
